mixin Banner({image, title, year, description})
  .banner
    
    +tmdb-img(image, title).banner__img.img--cover
    
    .banner__info
      h2.banner__title #[b=title] (#{year})
      
      p.banner__description= description
      
      button.banner__button.button(role="button") #[i.fas.fa-play] Reproducir
      button.banner__button.button(role="button") #[i.fas.fa-info] Más informacion