*
  margin 0
  padding 0
  box-sizing border-box
  outline none

html
body 
  overflow-x hidden

body 
  font-family 'Open Sans', sans-serif
  colors grey white
  
  font-size 12px
  sm 14px
  md 16px
  xl 18px
  xxl 21px

a
  text-decoration none
  color semi-white
  
h2
  font-weight normal
  
p
  text-align justify
  
main
  padding-top 4rem
  
button
  cursor pointer