.burger-layout
  font-size 200px
  padding 1em
  
  // span 
  //   font-size 20px
  //   line-height 200px
  //   vertical-align center 

// .burger
  
  
//   font-size 1em
//   margin (barHeight * 1.25) 0
  
// .burger-wrapper
//   barHeight = .2em
//   size 1em

//   .burger
//   &:after
//   &:before
//     content ''
//     height barHeight
//     width 1em
//     background-color grey-lighter
    
  