mixin repeat(n)
  while n--
    block
    
mixin p(n)    
  +repeat(n)
    p&attributes(attributes) Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, rem corrupti blanditiis autem esse sequi quam atque, modi eos odit cum animi fugiat laboriosam minus voluptatem, iste nobis libero ea?