@require stylus-kit
@require stylus-kit-updates
@require stylus-bem-mixins

bebas = 'Bebas Neue', sans-serif, arial

grey = #14
grey-light = #21
grey-lighter = #27
semi-white = #a
  
@require 'styl/_reset'
@require 'styl/container'
@require 'styl/img'
@require 'styl/flex'

// semi components
@require 'styl/header'
@require 'styl/layer'

// components
@require 'components/banner'
@require 'components/carousel'
  
// temp
@require 'styl/test'